---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ruins &amp; Revolutions Blog</title>
	</head>
	<body>
	  <nav>
	    <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/blog">Blog</a></li>
	    </ul>
	  </nav>
		<h1>Ruins &amp; Revolutions Blog</h1>
	</body>
</html>
