---
import { Image } from 'astro:assets'
import RSSIcon from '../assets/rss.png'
---

<footer>
  <a href="/rss.xml" class="rss">
    <Image src={RSSIcon} alt="RSS" />
    <span>Blog RSS Feed</span>
  </a>
</footer>
