---
import logoBlack from '../assets/logo.black.png'
import logoWhite from '../assets/logo.white.png'
import Navigation from './Navigation.astro'
import ThemedImage from './ThemedImage.astro'
import ThemeToggle from './ThemeToggle.astro'
---
<header>
  <ThemeToggle />
  <a href="/">
    <ThemedImage light={logoBlack} dark={logoWhite} alt="Ruins & Revolutions" />
  </a>
  <Navigation />
</header>
