---
import { Image } from 'astro:assets';
import logoBlack from '../assets/logo.black.png';
import Navigation from '../components/Navigation.astro';
---
<header>
  <a href="/">
    <Image src={logoBlack} alt="Ruins & Revolutions" />
  </a>
  <Navigation />
</header>
