---
import BaseLayout from './BaseLayout.astro'
import BlogPostHeader from '../components/BlogPostHeader.astro'
import BlogPostFooter from '../components/BlogPostFooter.astro'
const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title}>
  <BlogPostHeader frontmatter={frontmatter}></BlogPostHeader>
  <main>
    <slot />
  </main>
  <BlogPostFooter tags={frontmatter.tags}></BlogPostFooter>
</BaseLayout>